:root {
	--colour-dull-black: rgba(0, 0, 0, 0.3);
	--colour-dim: rgba(0, 0, 0, 0.7);
	--colour-white: #f3ede5;
	--colour-light: #e8d5b7;
	--colour-grey: #949494;
	--colour-medgrey: #686464;
	--colour-light: #d7a690;
	--colour-med: #96573b;
	--colour-darkgrey: #302f2f;
	--colour-dark: #442214;
	--colour-black: #2d1810;
	--colour-red: #ed1f2c;
	--colour-green: #9dc275;
	--colour-dark-green: rgb(47, 68, 24);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	scrollbar-width: thin;
	scrollbar-color: var(--colour-dark) var(--colour-white);
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

html {
	background-color: var(--colour-white);
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: italic;
	font-display: swap;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--colour-med);
}

::-webkit-scrollbar-thumb {
	background: var(--colour-dark);
}

.flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.body-container {
	max-width: 1500px;
	padding: 25px 30px;
	margin: 0 auto;
	gap: 20px;
}

.w-full {
	width: 100%;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.link-button {
	background-color: var(--colour-dim);
	border-radius: 50px;
	padding: 7px 16px;
}

.category-backer {
	view-transition-name: category-header;
}

::view-transition-image-pair(category-header-*) {
	/* Use a custom easing curve for a snappier feel */
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 2);
}

@keyframes slide-in {
	from {
		transform: translateY(2220px);
		opacity: 0;
	}
}

@keyframes slide-out {
	to {
		transform: translateY(-2220px);
		opacity: 0;
	}
}

:root::view-transition-old(main-content-*) {
	animation: 250ms cubic-bezier(0.4, 0, 1, 1) both slide-out;
}

:root::view-transition-new(main-content-*) {
	animation: 250ms cubic-bezier(0, 0, 0.2, 1) 90ms both slide-in;
}
